# Services names that will be set as hostnames by Docker and can be used to connect services to each other instead
# of using ip addresses.
DATABASE_HOSTNAME=db
RABBITMQ_HOSTNAME=rabbitmq
DEVICES_MANAGER_HOSTNAME=devices-manager
NOTIFICATIONS_MANAGER_HOSTNAME=notifications-manager
LOCAL_AUDIO_MANAGER_HOSTNAME=local-audio-manager
AUTH_HOSTNAME=project-auth
FRONTEND_HOSTNAME=frontend
NTFY_HOSTNAME=ntfy
HEALTH_CHECKER_HOSTNAME=health-checker

# Things you might want to configure
PUBLIC_HOST_URL=http://localhost
GPIO_MONITOR_URLS=http://localhost:8787, http://otherserver:9999
MP3_PLAYER_SERVER_URLS=BOTH@http://localhost:8888

ALARM_RECORDING_DURATION_SECONDS=120
ALWAYS_RECORDING_DURATION_SECONDS=3600

TZ=Europe/Rome