[submodule "microservices/project-proxy"]
	path = microservices/project-proxy
	url = https://github.com/WIPtitle/project-proxy.git
[submodule "microservices/magnetic-reeds-listener"]
	path = microservices/magnetic-reeds-listener
	url = https://github.com/WIPtitle/magnetic-reeds-listener.git
[submodule "microservices/rtsp-cameras-listener"]
	path = microservices/rtsp-cameras-listener
	url = https://github.com/WIPtitle/rtsp-cameras-listener.git
[submodule "microservices/mail-notifications"]
	path = microservices/mail-notifications
	url = https://github.com/WIPtitle/mail-notifications.git
[submodule "microservices/local-audio-manager"]
	path = microservices/local-audio-manager
	url = https://github.com/WIPtitle/local-audio-manager.git
